{% extends "layout.html" %} 
{% block index_aerolineas %}
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> Aerolineas</h1>
      <p>Sistema de administracion para Aeropuerto</p>
      <a href="{{url_for('form_add_aerolinea')}}" class="btn btn-primary text-white">Nuevo</a>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Todas las aerolineas</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h2>Lista de aerolineas activas</h2>
        <table
          class="table table-striped table-hover table-bordered table-sm bg-white"
        >
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Pais</th>
              <th>Estado</th>
              <th style="width: 25%;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for aerolinea in lista_aerolineas %}
            <tr>
              <td>{{aerolinea.nombre}}</td>
              <td>{{aerolinea.pais}}</td>
              <td>{{aerolinea.estado}}</td>
              <td>
                <a href="/edit_aerolinea/{{aerolinea._id}}" class="btn btn-secondary"
                  >Editar</a
                >
                {%if aerolinea.estado == "Activo"%}
                <a
                  href="/delete_aerolinea/{{aerolinea._id}}"
                  class="btn btn-danger btn-delete"
                  >Desactivar</a
                >
                {%endif%}
                {%if aerolinea.estado != "Activo"%}
                <a
                  href="/activar_aerolinea/{{aerolinea._id}}"
                  class="btn btn-success btn-delete"
                  >Activar</a
                >
                {%endif%}
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
