{% extends "layout.html" %} 
{% block editar_vuelos %}
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Editar Vuelo</h1>
            <p>Sistema de administración para Aeropuerto</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Todos los vuelos</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h2>Editar datos de vuelo</h2>
                <form action="/update_vuelo/{{ vuelo._id }}" method="POST">
                    <div class="form-group">
                        <label for="idAvion">Avión</label>
                        <input type="text" name="idAvion" value="{{ vuelo.idAvion }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" value="{{ vuelo.precio }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="origen">Origen</label>
                        <input type="text" name="origen" value="{{ vuelo.origen }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="destino">Destino</label>
                        <input type="text" name="destino" value="{{ vuelo.destino }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_salida">Fecha de salida</label>
                        <input type="date" name="fecha_salida" value="{{ vuelo.fecha_salida }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select class="form-control form-select col-sm-5" name="estado" id="estado" required>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Actualizar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
